services:
  minio:
    image: minio/minio
    container_name: minio
    volumes:
      - "./minio/data:/data"
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=adminadmin
      - TZ=Asia/Shanghai
    ports:
      - "9000:9000"
      - "9001:9001"
    restart: always
    privileged: true
  
  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - TZ=Asia/Shanghai
    volumes:
      - "./mysql/data:/var/lib/mysql"
      - "./mysql/conf/conf.d:etc/mysql/conf.d"
      - "./mysql/logs:/var/log/mysql"
    restart: always
    privileged: true
  
  redis:
    image: redis:7.0
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./redis/conf/redis.conf:/etc/redis/redis.conf
      - ./redis/data:/data
    restart: always
    privileged: true

    command: ["redis-server", "/etc/redis/redis.conf"]
